body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
  /* padding: 10% 20% 15% 20%; */
  background-image: url('bgi.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  height : 100vh;
  overflow-y:scroll;
}

#dataFetchedBox{
  padding: 8% 5% 10% 5%;
}

div#myHeader.ui.container{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

#loader-box{
  padding-top: 10%;
  padding-bottom: 26.5%;
}

div.ui.large.left.aligned.segment , #onemore{
  background-color: peru;
}

